@charset "UTF-8";



.storeSubInfoWrap{
	width:385px;
	height: 200px;
	 background: #e2e2e2; 
}

/*성별별 / 연령별 공통*/
.storeSubInfoCom{
	float:left;
	padding-top:23px; box-sizing: border-box;
}


/*성별별*/
.storeSubInfo_ageWrap{
	position: relative;
	width:35%;height: 200px;
	/* background:green; */

}


/*연령별*/
.storeSubInfo_genderWrap{
	position: relative;
	width:65%; height: 200px;
	/* background:pink; */

}

/* 연령별 차트 크기 지정*/
/* 성별 차트 크기 지정*/
.mypieChart{
	 position: absolute; top:20px; left:-80px;
	width:155px;
     margin: 0 auto;
}

.mydiscreteChart{
	position: absolute; top:0px; left:-30px;
	width:230px;
     margin: 0 auto;
}




.temp{
	width: 300px;
	height: 300px;
}
